

:root{
    --camel: #cb997e; 
    --gris: #b6b6b6;
}

header{
    width: 100vw;
    position: relative;
}

/* ------- NOTIFICACIONES ------- */

.notificaciones{
    background-color: black;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.notificaciones a {
    height: 50%;
}

.notificaciones a img{
    height: 100%;
}

.notificaciones hgroup{
    color: white;
    text-align: center;
    letter-spacing: 2px;
    flex-grow: 0.7;
}

.notificaciones hgroup h4 {
    font-size: 0.8em;
    
}

/* ------- NAVEGACION FIJA ------- */

#navbar{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(204,204,204,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(204,204,204,1);
    box-shadow: 0px 0px 10px 0px rgba(204,204,204,1);
}

.iconos-menu img{
    width: 25px;
    height: 25px;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.hamburguesa img{
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.link-logo{
    text-align: center;
    line-height: 0;
    width: 40%;
}

#navbar form{
    display: none;
}


/* ------- NAVEGACION DESPLEGABLE ------- */
#menu-desplegable {
    position: absolute;
    top: 0;
    left: -100vh;
    height: 100vh;
    width: 80vw;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    transition: all 0.8s ease;
    -webkit-box-shadow: 3px 0px 26px 0px rgb(117, 116, 116);
    -moz-box-shadow: 3px 0px 26px 0px rgb(117, 116, 116);
    box-shadow: 3px 0px 26px 0px rgb(117, 116, 116);
    z-index: 2;
}

#menu-desplegable::after{
    content: 'x';
    top: 14px;
    right: -18%;
    display: block;
    position: absolute;
    border-radius: 50%;
    background-color: var(--camel);
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 1.8;
}

#menu-desplegable:target{
    left: 0;
}

#menu-desplegable a{
    width: 100%;
    display: block;
    font-size: 14px;
    line-height: 50px;
    padding: 0 10px;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    font-weight: bolder;
    font-size: medium;
    border-bottom: 1px solid var(--camel);
}

/* ------- BARRA DE BUSQUEDA ------- */

#search, #bag {
    width: 80vw;
    height: 100vh;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    z-index: -1;
    -webkit-box-shadow: 3px 0px 26px 0px rgb(117, 116, 116);
    -moz-box-shadow: 3px 0px 26px 0px rgb(117, 116, 116);
    box-shadow: 3px 0px 26px 0px rgb(117, 116, 116);
    transition: all 0.8s ease;
}

#search:target, #bag:target{
    opacity: 1;
    z-index: 2;
}

#search::after, #bag::after{
    content: 'x';
    top: 14px;
    left: -18%;
    display: block;
    position: absolute;
    border-radius: 50%;
    background-color: var(--camel);
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 1.8;
}

#search h2, #bag h2 {
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    padding: 15px;
    background-color: var(--camel);
}

#search form{
    border-bottom: solid 1px #cccccc;
    padding-bottom: 2px;
    display: flex;
    margin: 10px;
    justify-content: space-between;
}

#search form input{
    margin: 0;
    padding: 0;
    width: 80%;
    float: left;
    height: 30px;
    border: none;
    outline: none;
    display: block;
    font-size: 14px;
    cursor: text;
    appearance: auto;
}

#search form button {
    border: none;
    background: none;
}

/* ------- CARRITO DE COMPRAS ------- */

#bag figure{
    width: 95%;
    border: 1px solid rgba(182, 182, 182, 0.376);
    margin: 10px auto;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

#bag figure img{
    width: 25%;
    height: 60px;
}

.contenedorProducto{
    display: flex;
    width: 73%;
    flex-direction: column;
    padding: 4px;
    justify-content: center;
}

.contenedorProducto h3{
    color: var(--camel);
    margin-bottom: 7px;
}

#bag button{
    width: 95%;
    margin: 5px auto;
    display: block;
    height: 50px;
    background-color: var(--camel);
    border-radius: 8px;
    border: none;

}