@font-face {
    font-family: 'Century';
    src: url("../fonts/century/century.ttf") format("truetype");
}

@font-face {
    font-family: 'Museo-Sans';
    src: url("../fonts/museo/museo-sans-100.otf") format("truetype");
}

@font-face {
    font-family: 'Montserrt Light';
    src: url("../fonts/montserrat/Montserrat-Light.ttf") format("truetype");
}

@font-face {
    font-family: 'Montserrat Regular';
    src: url("../fonts/montserrat/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'The Loved';
    src: url("../fonts/theloved/theloved/Theloved.otf") format("truetype");
}

:root{
    --chocolate: #663333; 
    --camel: #cb997e; 
    --piel: #ddbea9; 
    --rosaViejo: #d0ada7; 
    --verde: #b7b7a4; 
    --celeste: #e2eafc;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat Regular';
}

/* ------- HEADER ------- */

header {
    width: 100vw;
}

a{
    text-decoration: none;
    color: black;
}

/* NOVEDADES */

.novedades{
    background-color: black;
    color: white;
    display: flex;
    justify-content:space-around;
    padding: 5px;
    font-size: 12px;
    height: 48px;
}

.tituloNovedades{
    font-size: 14px;
}

.novedades div{
    text-align: center;
    align-self: center;
}

.novedades svg{
    align-self: center;
}

/* NAVBAR */

.navbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.navbar *{
    text-transform: uppercase;
}

#menuDesplegable{
    display: none;
}

.bi { 
    cursor: pointer;
    display: block;
    width: 30px;
    height: 30px;
    padding: 10px;
}

.navbar label svg{
    width: 30px;
    height: 30px;
}

.navbar label:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0.1);
}

/* MENU */

.barraIzquierda{
    display: flex;
    flex-direction:row;
}

#menuGeneral{
    display: none;
}

.barraMenu{
    top: 0;
    width: 85%;
    height: 100%;
    display: flex;
    position: fixed;
    z-index: 100000000000;
    background-color: white;
    box-shadow: 10px 0 10px rgb(0 0 0 / 20%);
    transition: all 1s ease;
    right: 110vw;
    flex-direction: column;
}

.barraMenuVisible{
    right: auto;
}

.cruzMenu{
    padding: 5px;
    display: flex;
    justify-content: center;
    align-content: center ;
    background-color: white; 
    box-shadow: -10px 0 10px rgb(0 0 0 / 20%);
    position: fixed;
    border-radius: 100%;
    top: 14px;
    margin-right: 110vw;
    transition: all 0.3s;
    right: 5%;
}

.cruzMenuVisible{
    margin-right: 0;
}

.ul-menu {
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.navegacionHeader {
    display: list-item;
    list-style: none;
    border-bottom: 1px solid black;
}

.item-menu {
    width: 100%;
    display: block;
    font-size: 14px;
    line-height: 50px;
    padding: 0 10px;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    color: black;
    font-weight: bolder;
    font-size: medium;
}

.logo{
    height: 30px;
    align-self: center;
    display: flex;
}

.logo svg{
    height: 80%;
    align-self: center;
}

.iconosMenuPeq{
    display: flex;
    align-self: center;
}

.iconosMenuPeq svg{
    color: black;
    width: 30px; 
    height:30px;
    margin-right: 10px;
}

.search {
    align-self: center;
}

.bag path{
    fill: black;
}

/* BARRA LATERAL DEL CARRITO Y BUSCADOR */

#cerrarCarrito, #cerrarBuscador {
    display: none;
}

.cruzCarrito{
    padding: 5px;
    display: none;
    justify-content: center;
    align-content: center ;
    background-color: white; 
    box-shadow: -10px 0 10px rgb(0 0 0 / 20%);
    position: fixed;
    border-radius: 100%;
    top: 14px;
    margin-left: 100vw;
    transition: all 0.3s;
}

.barraCarrito{
    top: 0;
    width: 85%;
    height: 100%;
    display: flex;
    position: fixed;
    z-index: 100000000000;
    background-color: white;
    right: 0;
    box-shadow: -10px 0 10px rgb(0 0 0 / 20%);
    transition: all 0.8s;
    left: 100vw;
    flex-direction: column;
}

.cruzAbierta{
    margin-left: 15px;
    display: flex;
    transition: all 0.8s;
}

.carritoAbierto{
    left: auto;
    transition: all 0.8s;
}

.barraCarrito h2{
    text-align: center;
    width: 100%;
    justify-self: center;
    padding: 15px;
    background-color: var(--camel);
    display: none;
}

.compra, .buscar, .carritoVacioVisible, .sinComprasVisible, .buscadorVisible{
    display: block !important;
    transition: all 0.8s;
}

.carritoVacio{
    margin: 30px auto;
    width: 100px;
    height: 100px;
    display: none;
}

.carritoVacio svg{
    width: 100%;
    height: 100%;
}

.sinCompras{
    width: 60%;
    margin: 0px auto;
    text-align: center;
    display: none;
}

.buscador{
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    min-inline-size: min-content;
    display: none;
    border-bottom: solid 1px #cccccc;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.formularioBuscador{
    margin: 0;
    padding: 0;
    width: 80%;
    float: left;
    height: 30px;
    border: none;
    outline: none;
    display: block;
    font-size: 14px;
    cursor: text;
    appearance: auto;
}

.btn-buscar{
    padding: 0;
    width: 20px;
    height: 30px;
    float: right;
    border: none;
    font-size: 0;
    outline: none;
    display: block;
    background: transparent;
    background-image: url(../images/icono-search.png);
    background-repeat: no-repeat;
    background-position: center right;
}

/* ------- MAIN ------- */
/* SLIDER */


.slider{
    overflow: hidden;
    width:100vw;
}

.slides{
    width: 500%;
    display: flex;
}

.slides input{
    display:none;
}

.slide{
    width:20%;
    transition:2s;
}

.slide img{
    height: 100vw;
    object-fit: 16/9;
}

/* css para navegacion manual */

.navigation-manual{
    position: absolute;
    width: 100vw;
    margin-top: -40px;
    display: flex;
    justify-content:center;
}

.manual-btn{
    border: 2px solid #663333;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: #663333;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

/* css para navegacion automatica */

.navigation-auto{
    position: absolute;
    display: none;
    width: 800px;
    justify-content:center;
    margin-top:460px;
}

.navigation-auto div{
    border: 2px solid #663333;
    padding:5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right:40px; 
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #663333;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #663333;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #663333;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #663333;
}

/* SECCIONES */

.titulo-seccion{
    text-align: center;
    text-transform: uppercase;
    background-color: var(--camel);
    width: 100%;
    padding: 10px;
    box-shadow: 0px 4px 8px 0px rgba(112,104,104,0.8);
    -webkit-box-shadow: 0px 4px 8px 0px rgba(112,104,104,0.8);
    -moz-box-shadow: 0px 4px 8px 0px rgba(112,104,104,0.8);
    position: relative;
    z-index: 1;
}

.ofertas-vos, .los-queres{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    overflow: hidden;
    position: relative;
}

.lanzamientos{
    margin: 50px auto 20px;
    text-align: center;
    font-weight: lighter;
}

.separador-img {
    width: 95%;
}

/* SEPARADORES */

.separador{
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* ARTICLE */

/* ARTICLE */

.producto{
    width: 70%;
    border: 1px solid rgba(182, 182, 182, 0.376);
    text-align: center;
    border-radius: 15px;
}

.producto1{
    position: absolute;
    left: -62%;
    width: 70%;
    border: 1.5px solid rgba(182, 182, 182, 0.376);
    text-align: center;
    border-radius: 15px;
}

.producto3{
    position: absolute;
    right: -62%;
    width: 70%;
    border: 1.5px solid rgba(182, 182, 182, 0.376);
    text-align: center;
    border-radius: 15px;
}

.titulo-tarjeta{
    padding: 10px 0;
    display: block;
    background-color: var(--camel);
    border-radius: 15px 15px 0px 0px;
    color: white;
    font-weight: bolder;
}

.imagen-corazon{
    display: relative;
}

.img-producto{
    width: 100%;
    height: 70vw;
    object-fit: scale-down;
    margin-top: 5px;
}


.corazon{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 10%;
    left: 75%;
}

st16{
    fill: var(--piel) !important;
    stroke: var(--chocolate) !important;
}

.corazon-vacio {
    fill: white !important;
}

.marca-producto{
    font-weight: bolder;
    letter-spacing: 2.9px;
    margin-top: 10px;
    font-size: 13px;
    text-transform: uppercase;
}

.nombre-producto{
    margin-top: 10px;
    font-weight: 100;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 13px;
}

.precio-producto{
    margin-top: 20px;
    font-weight: bolder;
    font-size: 13px;
}

.coutas-producto {
    color: var(--chocolate);
    margin-top: 5px;
    letter-spacing: 1.5px;
    font-size: 11px;
}

.coutas-producto span {
    font-weight: bolder;
}

.btn-comprar{
    border: 0;
    cursor: pointer;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.57px;
    background-color: var(--camel);
    border-radius: 34px;
    height: 38px;
    display: flex;
    align-content: center;
    width: 130px;
    padding: 0 0 0;
    margin: 20px auto;
    justify-content: space-around;
}

.btn-carrito{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding: 15px;
    height: 40px;
    cursor: pointer;
    /* transition: all 0.2s ease; */
    background: var(--camel);
    margin: auto;
    border: none;
    
}

.btn-comprar p{
    align-self: center;
    font-weight: bolder;
}

.carrito{
    align-self: center;
    width: 20px;
    height: 20px;
    padding: 0;
    margin-left: -20px;
}

/* LANZAMIENTOS */

.titulo-especial {
    text-transform: uppercase;
    letter-spacing: 2px;
    width:100%;
}

.subtitulo-especial {
    margin-top: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    width:100%;
}

.productos-chicos{
    display: flex;
    justify-content:space-around;
    margin-top: 10px;
}

.imagen-corazon-chicos{
    position: relative;
}

.producto-mitad{
    width: 48%;
    border: 1px solid rgba(182, 182, 182, 0.376);
    text-align: center;
    border-radius: 15px;
}

.img-producto-chico{
    width: 100%;
    height: 48vw;
    object-fit: scale-down;
    margin-top: 5px;
}

.corazon-chico{
    position: absolute;
    top: 10%;
    left: 80%;
    width: 25px;
    height: 25px;
}


/* ------- FOOTER ------- */

footer{
    position: relative;
    bottom: 0;
    width: 100%;
}

.separadorFooter{
    bottom: 0;
    display: flex;
    justify-content: space-around;
    background-color: var(--camel);
    padding: 10px;
}

.logoFooter svg{
    width: 50px;
    height: 50px;
    align-self: center;
}

.st13 {
    fill: var(--camel) !important;
}

.frase{
    align-self: center;
}

.frase p{
    font-family: 'The Loved';
    font-size: 32px;
}

.navegacion, .contactanos{
    border-bottom: 0.5px solid black;
}

.navegacion h4, .contactanos h4{
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
}

.ulFooter{
    list-style: none;
}

.navegacionFooter{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    padding: 0;
    border-bottom: 1px solid #e6e6e8;
}

.navegacionFooter a{
    display: inline-block;
    width: 100%;
    color: #777;
    line-height: 56px;
    text-transform: uppercase;
    letter-spacing: 1px; 
    text-decoration: none;
    padding-left: 1rem;
}

.contactanos svg{
    width: 20px;
    height: 20px;
    color: black;
    margin-top: 5px;
}

.redesSociales{
    text-align: center;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom:15px;
}

.redesSociales a{
    padding: 10px;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;

}

.instagramFooter, .facebookFooter {
    height: 20px;
}


.instagramFooter svg, .facebookFooter svg{
    color: black;
    width: 20px;
    height: 20px;
}

@media (min-width: 769px) {

    /* ------- HEADER ------- */

    /* NAVBAR */

    .navbar label{
        display: none;
    }

    .menu{
        position: inherit;
        margin-left: auto;
    }

    .menu li{
        border-right: 1px solid white;
        border-top: none;
        display: block;
    }

    .menu ul {
        flex-direction: row;
        justify-content: center;
        width: auto;
    }


    .iconosMenuPeq{
        display: none;
    }

    .logo{
        display: none;
    }
}