
:root{
  --chocolate: #663333; 
  --camel: #cb997e; 
  --piel: #ddbea9; 
  --rosaViejo: #d0ada7; 
  --verde: #b7b7a4; 
  --celeste: #e2eafc;
}
.imagenes {
  display: none;
}

/* SLIDER */
.seccionSlider {
  margin-top: 20px;
}

.slideer {
  overflow: hidden;
  width: 100vw;
}

.slidees {
  width: 500%;
  display: flex;
}

.slidees input {
  display: none;
}

.slidee {
  width: 20%;
  transition: 2s;
  display: flex;
  justify-content: center;
}

.slidee img {
  height: 100vw;
  object-fit: 16/9;
}

/* css para navegacion manual */

.navigation-manual {
  position: absolute;
  width: 100vw;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #663333;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.manual-btn:checked{
  background: #663333;
}
.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: #663333;
}

/* DETALLES */

.contenedorDetalles {
  display: flex;
  margin: 20px 10px;
  flex-direction: column;
  justify-content: space-around;
  height: auto;
  font-size: 0.8em;
}
.tituloProducto {
  font-size: 2em;
  font-weight: bold;
  color: var(--chocolate);
}
.categorias {
  display: flex;
  margin: 10px 0px;
  align-items: center;
}
.pagos img {
  width: 18px;
  height: 18px;
}
.precio {
  color: var(--chocolate);
  font-size: 1.5em;
}
.elecciones {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  margin: 10px;
  font-size: 1.2em;
}
.elecciones fieldset{
  border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 30%;
}

.elecciones fieldset label {
  margin: 8px 0px;
}

.elecciones fieldset legend {
  color: var(--camel);
  margin: 8px 0px;
}

#color {
	display: flex;
}

#color li {
	display: flex;
	flex-wrap: wrap;
	margin: 0 0.15rem;
}
#color li input {
	display: none;
}

#color li label span {
	border-radius: 2rem;
  cursor: pointer;
}

input[type="radio"][name="color"]:checked ~ label span {
	border: 1px solid #000;
}

input[type="radio"][name="color"][value="color"] ~ label span {
	width: 2rem;
	height: 2rem;
	display: flex;
}

.color{
  text-align: center;
}
.color input {
  box-shadow: 1px 1px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 5px;
}

.talle select {
  box-shadow: 1px 1px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 5px;
}

.botonAgregar {
  display: flex;
  justify-content: center;
}

.botonAgregar button {
  border: 2px solid var(--camel);
  background-color: var(--camel);
  color: white;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
  box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 20%);
  transition:all;
  cursor: pointer;
}

.botonAgregar button:hover{
  background-color: var(--chocolate);
  border: 2px solid var(--chocolate);
}


/* DESCRIPCIÓN */
.descripcion {
  font-size: 0.8em;
  margin: 10px;
  color: var(--chocolate);
}

.descripcion summary {
  font-size: 1.2em;
}

.descripcion p{
  margin-top: 5px;
  color: #000;
  padding: 8px;
}

@media (min-width: 769px) {
  .seccionSlider {
    display: none;
  }
  .container {
    display: flex;
    margin: 50px 0px 0px 10px;
  }
  .imagenes {
    display: flex;
    width: 55%;
    justify-content: center;
    align-items: center;
    border: 1.5px solid rgba(182, 182, 182, 0.376);
    border-radius: 10px;
    padding: 5px;
  }
  .imagenesPequeñas {
    display: flex;
    flex-direction: column;
    width: 25%;
  }
  .imagenes img{
    padding: 5px;
  }
  .imagenPpal {
    width: 50%;
    object-fit: contain;
  }
  .imagenPpal img {
    width: 50%;
    object-fit: contain;
  }
  .contenedorDetalles {
    width: 50%;
    height: 420px;
    font-size: 1em;
    border: 1.5px solid rgba(182, 182, 182, 0.376);
    padding: 5px;
    border-radius: 10px;
    margin-right: 10px;
  }
  .elecciones {
    justify-content: space-around;
    font-size: 1em;
    text-align: center;
  }
  .color {
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-evenly;
    align-items: center;
  }
  .talle {
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-evenly;
    align-items: center;
  }
  .descripcion {
    border: 1.5px solid rgba(182, 182, 182, 0.376);
    padding: 5px;
    margin: 10px 30px;
    border-radius: 10px;
    font-size: 1em;
    text-align: justify;
  }
}
