.todo-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

.producto {
    text-align: center;
    position: relative;
    opacity: 1;
    width: 45%;
    margin-right: 20px;
    height: 360px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.producto-desenfoco{
    opacity: 0.3;
}

.producto figure {
    height: 200px;
    border-radius: 20px;
    overflow: hidden;
    margin: 0 auto;
    border: 2px solid var(--gris);
    box-sizing: border-box;
}

.producto figure a img {
    width: 103%;
    height: 250px;
    object-fit: cover;
}

#favorito {
    display: none;
}

.btn-favorito label {
    position: absolute;
    top: 10px;
    right: 30px;
}

.btn-favorito label img {
    width: 25px;
}

.producto hgroup {
    margin-top: 10px;
}

.producto hgroup h2 {
    font-weight: lighter;
    font-size:0.8rem;
}

.producto hgroup h3 {
    margin: 0 auto 10px;
    font-size: 1em;
    color: #663333
}

.btn-comprar {
    margin: 10px;
}

.btn-comprar button {
    padding: 5px 14px;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: var(--camel);
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    font-weight: bold;
}

.btn-comprar button img {
    margin-right: 5px;
    width: 15px;
}
@media (min-width: 769px) {

 .producto {
     width: 90%;
 }
}