body{
    text-align: center;
}
.title{
    font-weight: bolder;
    font-size:3rem
}
nav {
    display: flex;
    justify-content: space-around
}
nav a {
    width: 80px;
    margin: 10px;
    width: 30px;
}
.botonNav {
    background-color: #663333;
    width: 20%;
    text-align: center;
    font-size: 2rem;
    color: #cb997e;
    border-radius: 20px;
    border: 1px solid #663333; 
}
/* .products {
    background-color: yellow
}
.users {
    background-color: rebeccapurple
} */