body{
    text-align: center;
    background-color: white;
}
.title{
    font-weight: bolder;
    font-size:3rem
}
nav {
    display: flex;
    justify-content: space-around
}
nav a {
    width: 80px;
    margin: 10px;
    width: 30px;
}
.botonNav {
    text-align: center;
    font-size: 1rem;
    color:white ;
}
h1 {
    color:black;
    margin-bottom: 75px
}
li {
    color:#fbe9e7;
    text-align: justify;
    margin-bottom: 12px
}
h2{
 color:#fbe9e7
}
.grid {
    background-color: #d0ada7
}
