body{
    text-align: center;
    background-color: lavender;
}
.title{
    font-weight: bolder;
    font-size:3rem
}
nav {
    display: flex;
    justify-content: space-around
}
nav a {
    width: 80px;
    margin: 10px;
    width: 30px;
}
.botonNav {
    text-align: center;
    font-size: 1rem;
    color: white;
}
h1 {
    color:midnightblue
}
li, h2{
 color:darkslategray
}