<header>
    <section class="notificaciones">
        <a href="">
            <img src="/assets/iconos/flechas/chevron-izq-blca.svg" alt="Desplazamiento Izquierda">
        </a>
        <hgroup>
            <h2>3 y 6 cuotas</h2>
            <h4>sin interés</h4>
        </hgroup>
        <a href="">
            <img src="/assets/iconos/flechas/chevron-dcha-blca.svg" alt="Desplazamiento Derecha">
        </a>
        <a href="" class="btn-cerrar-noti">
            <img src="/assets/iconos/cerrar/x-bca.svg" alt="cerrar">
        </a>
    </section>
    <nav id="navbar">
        <a href="#menu-desplegable" class="iconos-menu hamburguesa">
            <img src="/assets/iconos/menu/menu  hamburguesa.svg" alt="Menu Hamburguesa">
        </a>
        <a href="/" class="link-logo">
            <img src="/assets/iconos/logo/logo-02.svg" alt="Logo Maria Cielo">
        </a>
        <form action="/productos/buscar" method="get">
            <input type="search" id="search-bar" placeholder="Buscar" name="q">
        </form>
        <% if(!locals.isLogged) { %>
        <a href="/users/login" class="iconos-menu icono-persona">
            <img src="/assets/iconos/usuario/person.svg" alt="Icono Usuario">
        </a>
        <% } %>
        <% if(locals.isLogged) { %>
            <a href="/users/logout" class="iconos-menu icono-persona">
                <img src="/user/<%= user.avatar %>" alt="Icono Usuario">
            </a>
            <% } %>  
        <a href="#search" class="iconos-menu icono-search">
            <img src="/assets/iconos/search/search.svg" alt="Icono Buscar">
        </a>
        <a href="#bag" class="iconos-menu">
            <img src="/assets/iconos/bag/bag.svg" alt="Icono Carrito">
        </a>
    </nav>
    <nav id="menu-desplegable">
        <a href="">Bikinis</a>
        <a href="">Primeras Pieles</a>
        <a href="">Segundas Pieles</a>
        <a href="">Marcas</a>
        <a href="">Make Up</a>
        <a href="/register" class="btns-usuario">Registrate</a>
        <a href="/login" class="btns-usuario">Logueate</a>
        <a href="#" class="btn-cerrar btn-cerrar-drcha">
            <img src="/assets/iconos/cerrar/x-bca.svg" alt="Cruz de cierre">
        </a>
    </nav>
    <section id="search">
        <h2>Busqueda</h2>
        <form action="">
            <input type="search" placeholder="Buscar">
            <button type="submit">
                <img src="/assets/iconos/search/search.svg" alt="icono Buscador">
            </button>
        </form>
        <a href="#" class="btn-cerrar btn-cerrar-izq">
            <img src="/assets/iconos/cerrar/x-bca.svg" alt="Cruz de cierre">
        </a>
    </section>
    <section id="bag">
        <h2>Mi Compra</h2>
        <section class="articulos-carrito">
            <% for( let i=0; i < 5; i++ ) { %>
                <%- include('./prodCarritoLateral.ejs') %>
                    <% } %>
        </section>
        <form action="/productCart">
            <button type="submit" name="carrito">FINALIZAR COMPRA</button>
        </form>
        <a href="#" class="btn-cerrar btn-cerrar-izq">
            <img src="/assets/iconos/cerrar/x-bca.svg" alt="Cruz de cierre">
        </a>
    </section>
</header>