<figure class="producto-carrito">
    <img src="/assets/images/img1.jpg" alt="">
    <section>
        <figcaption><strong>Cartera Marron</strong></figcaption>
        <article>
            <nav>
                <a href="#" class="modificador-cantidad">-</a>
                <p>2</p>
                <a href="#" class="modificador-cantidad">+</a>
            </nav>
            <a href="#" class="btn-eliminar">
                <img src="/assets/iconos/delete/trash-alt-solid.svg" alt="basurero" >
            </a>
        </article>
        <p><strong>$15.000</strong></p>
    </section>
</figure>