<footer>
    <figure class="separador-footer">
        <img src="/assets/logo-Footer.svg" alt="logo-Footer">
        <figcaption>Do you believe in magic?</figcaption>
    </figure>
    <section class="secciones-footer">
        <h4>NAVEGACIÓN</h4>
        <nav>
            <a href="#">Bikinis</a>
            <a href="#">Primeras Pieles</a>
            <a href="#">Segundas Pieles</a>
            <a href="#">Marcas</a>
            <a href="#">Make Up</a>
        </nav>
    </section>
    <section class="secciones-footer contactanos">
        <h4>CONTACTANOS</h4>
        <nav class="ulFooter">
            <a href="tel:3624123456">
                <img src="/assets/iconos/sociales/whatsapp-brands.svg" alt="icono-whatsapp">
                <p>3624123456</p>
            </a>
            <a href="mailto:contacto@mariacielo.com.ar">
                <img src="/assets/iconos/contacto/alternate_email_black_24dp.svg" alt="icono-arroba">
                <p>contacto@mariacielo.com.ar</p>
            </a>
            <a href="https://goo.gl/maps/t6DsBvhvUQka7FrVA">
                <img src="/assets/iconos/localizacion/location_on_black_24dp.svg" alt="icono-localizacion">
                <p>Donovan 12345</p>
            </a>
        </nav>
    </section>
    <nav class="redesSociales">
        <a href="https://www.instagram.com/accesorios_mariacielo/">
            <img src="/assets/iconos/sociales/instagram-brands.svg" alt="icono-instagram">
        </a>
        <a href="https://www.facebook.com/Maria-Cielo-Accesorios-259845261179899">
            <img src="/assets/iconos/sociales/facebook-f-brands.svg" alt="icono-facebook">
        </a>
    </nav>
</footer>