<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>María Cielo</title>
    <!-- NORMALIZE CSS -->
    <link rel="stylesheet" href="/css/normalize.css">
    <!-- CSS RESET -->
    <link rel="stylesheet" href="/css/reset.css">
    <!-- CSS GENERAL -->
    <link rel="stylesheet" href="/css/index.css">
    <!-- CSS PARTICULAR -->
    <link rel="stylesheet" href="/css/productDetail.css">
    <!-- ICONOS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

</head>
<body>
    <!-- Header -->

    <!-- Main -->
    <main>
        <section class="container">
            <!-- Imagenes Portatil -->
                <section class="imagenes">
                    <figure class="imagenesPequeñas">
                        <img src="/images/detalleBikiniMC3.jpg" alt="reverso">
                        <img src="/images/detalleBikiniMC1.jpg" alt="frontal">
                    </figure>
                    <img class="imagenPpal" src="/images/detalleBikiniMC2.jpg" alt="fotoproducto">
                </section>

            <!-- Imagenes Slider Mobile -->
            <section class="seccionSlider">
                <!-- image slider start -->
                <div class="slideer">
                    <div class="slidees">
                        <!-- radio button start -->
                        <input type="radio" name="radio-btn" id="radio1">
                        <input type="radio" name="radio-btn" id="radio2">
                        <input type="radio" name="radio-btn" id="radio3">
                        <!-- radio button end -->
                        <!-- slide image start-->
                        <div class="slidee first">
                            <img src="/images/detalleBikiniMC1.jpg" alt="">
                        </div>
                        <div class="slidee">
                            <img src="/images/detalleBikiniMC3.jpg" alt="">
                        </div>
                        <div class="slidee">
                            <img src="/images/detalleBikiniMC2.jpg" alt="">
                        </div>
                        <!-- slide image end-->
                        <!-- automatic navigation start -->
                        <div class="navigation-auto">
                            <div class="auto-btn1"></div>
                            <div class="auto-btn2"></div>
                            <div class="auto-btn3"></div>
                        </div>
                        <!-- automatic navigation end -->
                    </div>
                    <!-- manual navigation start-->
                    <div class="navigation-manual">
                        <label for="radio1" class="manual-btn"></label>
                        <label for="radio2" class="manual-btn"></label>
                        <label for="radio3" class="manual-btn"></label>
                    </div>
                    <!-- manual navigation end-->
                </div>
                <!-- image slider end -->
            </section>

            <!-- DETALLES -->
            <section class="contenedorDetalles">
                <nav class="categorias">
                    <a href="#">Inicio</a> - <a href="#">Bikinis</a><p> - Amely | Cookie</p>
                </nav>
                    <h2 class="tituloProducto">Bikini Amely | <span style="color: rosybrown">Cookie</span></h2>
                    <h1 class="precio">$7.200 <span style="font-size: 0.4em; color: black; text-decoration:line-through;">$8.000</span></h1>
                <hgroup class="pagos">
                    <h2>
                        <img src="assets/iconos/pago/credit-card-fill.svg" alt="Medio de pago">
                        <span style="color: rosybrown">3 cuotas sin interes de</span>
                        $2.400
                    </h2>
                    <h2>
                        <img src="assets/iconos/pago/money-bill-wave-solid.svg" alt="Medio de pago">
                        <span style="color: rosybrown">10% de descuento</span>
                        pagando con transferencia bancaria.
                    </h2>
                    <h2><a href="#" style="color: rosybrown">Ver más detalles</a></h2>
                </hgroup>
                <form class="elecciones">
                    <fieldset class=color>
                        <legend>COLOR</legend>
                        <ul id="color">
                            <li>
                                <input type="radio" name="color" id="color-chocolate" value="chocolate">
                                <label for="color-red"><span></span></label>
                            </li>
                            <li>
                                <input type="radio" name="color" id="color-verde" value="verde">
                                <label for="color-verde"><span></span></label>
                            </li>
                            <li>
                                <input type="radio" name="color" id="color-piel" value="piel">
                                <label for="color-piel"><span></span></label>
                            </li>
                        </ul>
                    </fieldset>
                    <fieldset class="talle">
                        <label for="talle">TALLE:</label>
                        <select id="talle" name="eleccionTalle">
                            <option value="ochoCinco" selected>85</option>
                            <option value="nueveCero">90</option>
                            <option value="nueveCinco">95</option>
                            <option value="cien">100</option>
                        </select>
                    </fieldset>
                    <fieldset class="botonAgregar">
                        <button type="submit">Agregar al Carrito</button>
                    </fieldset>
                </form>
                
            </section>
        </section>
        <details class="descripcion">
            <summary>Descripción:</summary>
            <p>Triángulo fijo con breteles regulables y pinza en bajo busto. En la parte trasera es para atar. Está
                todo forrado para que no se trasluzca nada.
                Las argollas y reguladores son color plata (no queman al exponerse al sol y no se oxidan al tomar
                contacto con el agua). Viene con taza soft desmontable!
                Modelo súper cómodo.
            </p>
            <p>
                Material: lycra opaca nude, 80% poliamida 20% elastano. (Fibra de LYCRA XTRA LIFE ®).
            </p>
        </details>
        </div>
    </main>
    <!-- Footer -->

</body>
</html>