<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../includes/head.ejs') %>
    <!-- CSS PARTICULAR -->
    <link rel="stylesheet" href="/css/productCreateEdit.css">
</head>
<body>
    <section class="newProduct">
    <img class="logo" src="/assets/iconos/logo/logo-02.svg " alt="Logo">
    <h1>CREAR PRODUCTO</h1>
    <form id="createForm" action="/productos/guardar" enctype="multipart/form-data" target="_self" method="post" name="createForm">
        <label for="categoria">Categoría:</label>
        <select id="categoria" name="categoria">
            <option value="1">BIKINIS</option>
            <option value="2">PRIMERAS PIELES</option>
            <option value="3">SEGUNDAS PIELES</option>
            <option value="4">MAKE UP</option>
            <option value="5">ACCESORIOS</option>
        </select>
        <label for="nombre_producto">Nombre del Producto:</label>
        <input type="text" id="nombre_producto" name="nombre_producto">
        <label for="marca">Marca:</label>
        <input type="text" id="marca" name="marca">
        <label for="descripcion">Descripción:</label>
        <textarea name="descripcion" id="descripcion" rows="6"></textarea>
        <label for="precio">Precio final:</label>
        <input type="text" id="precio" name="precio">
        <label for="talle">Talle:</label>
        <select name="talle" id="talle">
            <option value="1"> S </option>
            <option value="2"> M </option>
            <option value="3"> L </option>
            <option value="4"> Único </option>
        </select>
        <label for="color">Color:</label>
        <input type="color" id="color" name="color">
        <label for="nombreColor">Nombre del Color:</label>
        <input type="text" id="nombreColor" name="nombreColor">
        <label for="stock">Stock Disponible:</label>
        <input type="number" id="stock" name="stock" min="0" max="100">
        <label for="imagen">Elige la Imagen Principal:</label>
        <input type="file"  id="imagen" name="imagen" accept="image/png, image/jpeg" multiple>
<!--         <label for="imagenes">Elige las Imagenes Secundarias:</label>
        <input type="file"  id="imagenes" name="imagenes" accept="image/png, image/jpeg" > -->
        <fieldset id="estado">
            <label for="estado">Estado:</label><br>
            <input type="radio" id="activo" name="activo" value="activo">
            <label for="activo">Activo</label><br>
            <input type="radio" id="inactivo" name="activo" value="inactivo">
            <label for="inactivo">Inactivo</label>
        </fieldset><br><br>
        <input type="submit" id="guardar" value="Guardar">
    </form>
</section>
</body>
</html>